<h2>Current Notes</h2>
<% track.notes.each do |note| %>
  <h5>From <%= User.find(note.user_id).email %> at <%= note.created_at.strftime("%b %d, %Y") %></h5>
  <p><%= note.content %></p>
  <%if note.user_id == current_user.id %>
    <form action="/tracks/<%= track.id %>/notes/<%= note.id %>" method="POST">
      <%= auth_token %>
      <%= rest_modifier('delete') %>
      <input type="submit" value="Delete">
    </form>
  <% end %>
<% end %>
