<% current_album = Album.find(@track.album_id)%>
<% current_band= Band.find(current_album.band_id)%>

<h1><%= @track.name %> by <%= current_band.name %></h1>
<h2><%= current_album.name %></h2>
<p><i><%= @track.edition %> track</i></p>
<a href="<%= edit_track_url(@track) %>">Edit Track Info</a>
<p>
<%= simple_format(@track.lyrics) %>

</p>
<br>
Add Note
<%= render "notes/form", process: "create" %>
<br>
<%= render "notes/note", track: @track %>
